/* Setting a univeral font size */

html, body {
  font-size: 1 rem;
  background-color: black;
  
}


#navbar {
background-color: white;
}

#welcome__background {
  opacity: 0.75;

}

#accreditation__background {

}

