/* Setting a univeral font size */

html, body {
  font-size: 1 rem;
  background-color: black;
  
}


#navbar {
background-image: linear-gradient(to bottom right, orangered, rgba(179, 35, 159, 0.726));
position: static;
/* display: flex; */
/* flex-direction: row; */
width: 100%;
left: 0;
top: 0px;
/* z-index: 2; */
}

#navbar_links {
list-style: none;
/* padding: 0; */
margin: 0;
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
/* flex-direction: column; */

}

#welcome__background {
  opacity: 0.5;

}

#accreditation__background {

}

/* set the top menu bar to absolute? top 0 with a high z index. Or fixed. no longer part of document flow.  */